extends ../templates/layout


block content 
    //- img(src="img/logo.svg")
    h1(class="p" ) P

    div(class="text-box" )
        h1(class="word word-p" ) P 
        h1(class="word word-i" ) i
        h1(class="word word-c" ) c 
        h1(class="word word-k" ) k 
        h1(class="word word-m" ) m 
        h1(class="word word-e" ) e 
