@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import "_reset";
@import "_variables";

html,
body {
  height: 100vh;
  background-color: $red;
  display: flex;
  justify-content: center;
  align-items: center;  
  overflow: hidden;  
  .p {
    user-select: none;
    font-family: 'Crimson Text', serif;
    font-size: 90vh;
    font-weight: 400;
    color: white;
    transition: .7s cubic-bezier(0, 1.59, 0, 0.83);
  }
}
