@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");
@import "_reset";
@import "_variables";

html,
body {
  height: 100vh;
  background-color: $red;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  user-select: none;
  .p {
    font-family: "Crimson Text", serif;
    font-size: 90vh;
    font-weight: 400;
    color: white;
    transition: 0.7s cubic-bezier(0, 1.59, 0, 0.83);
  }
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    :nth-child(4) {
      margin-right: 5px;
    }
    :nth-child(5) {
      margin-left: 5px;
    }
  }

  .word {
    font-size: 30px;
  }
  .word-p {
    // transform: rotate(45deg);
  }
}
